body{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;

    border: solid 1px black;
}

/* #home-lobby-join-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */